{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Modificar Factura
</h1>
    <form method="POST" action="{{url_for('main.facturas_handler')}}">
	<label for="FechaPago">Fecha:</label><br>
	<input type="text" id="FechaPago" name="FechaPago" value = "{{data['FechaPago']}}"><br>
	<label for="MetodoPago">Metodo:</label><br>
	<input type="text" id="MetodoPago" name="MetodoPago" value= "{{data['MetodoPago']}}"><br>
	<label for="Descripcion">Descripcion:</label><br>
	<input type="text" id="Descripcion" name="Descripcion" value="{{data['Descripcion']}}"><br>
	<input type=hidden value="{{id}}" name="id"/>
 	<input type="submit" value="Actualizar" name="accion"/>
</form>
{% endblock %}
