{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Facturas
</h1>
<table>
<tr>
    <th>ID</th>
    <th>Fecha</th>
    <th>Nombre</th>
    <th>Monto</th>
    <th>Descripción</th>
    <th>Metodo de pago</th>
  </tr>
{% for elems in bills %}
	<tr>
	  <td>{{elems['FacturaID']}}</td>
	  <td>{{elems['FechaPago']}}</td>
	  <td>{{elems['Nombre']}} {{elems['Apellido']}}</td>
	  <td>{{elems['Monto']}}</td>
	  <td>{{elems['Descripcion']}}</td>
	  <td>{{elems['MetodoPago']}}</td>
	</tr>
{%endfor%}
</table>
{% endblock %}
