{% extends "base.html" %}

{% block content %}
<div class="table-title">
<h3>Registro de Pagos</h3>
</div>
<table class="table-fill">
<thead>
<tr>
    <th class="text-left">Fecha</th>
    <th class="text-left">Nombre</th>
    <th class="text-left">Monto</th>
    <th class="text-left">Metodo</th>
    <th class="text-left">Descripción</th>
    <th class="text-left" colspan='2'>Acciones</th>
  </tr>
</thead>
<tbody class="table-hover">
{% for elems in bills %}
	<tr>
	  <td class="text-left">{{elems['FechaPago']}}</td>
	  <td class="text-left">{{elems['Nombre']}} {{elems['Apellido']}}</td>
	  <td class="text-left">{{elems['Monto']}}</td>
	  <td class="text-left">{{elems['MetodoPago']}}</td>
	  <td class="text-left">{{elems['Descripcion']}}</td>
	  <td>
	    <form action="{{url_for('main.facturas_handler')}}" method="GET">
	      <input type=hidden value="_UPDATE" name="_method"/>
	      <input type=hidden value="{{elems['FacturaID']}}" name="id"/>
	      <button type="submit">Modificar</button>
	    </form>
	  </td>
	  <td>
	    <form action="{{url_for('main.facturas_handler')}}" method="GET">
	      <input type=hidden value="_DELETE" name="_method"/>
	      <input type=hidden value="{{elems['FacturaID']}}" name="id"/>
	      <button type="submit">Eliminar</button>
	    </form>
	  </td>
	</tr>
{%endfor%}
</tbody>
</table>
{% endblock %}
