{% extends "base.html" %}

{% block content %}
<div class="table-title">
<h3>Servicios</h3>
</div>
<form method="GET" action="{{url_for('main.servicios_handler')}}">
 	<input type="submit" value="Nuevo Servicio" name="nservicio"/>
</form>
<table class="table-fill">
<thead>
<tr>
    <th class="text-left">Nombre</th>
    <th class="text-left">Descripcion</th>
    <th class="text-left">Monto</th>
    <th class="text-left" colspan='2'>Acciones</th>
  </tr>
</thead>
<tbody class="table-hover">
{% for elems in productos %}
	<tr>
	  <td class="text-left">{{elems['Nombre']}}</td>
	  <td class="text-left">{{elems['Descripcion']}}</td>
	  <td class="text-left">{{elems['Monto']}}</td>
	  <td>
	    <form action="{{url_for('main.servicios_handler')}}" method="GET">
	      <input type=hidden value="_UPDATE" name="_method"/>
	      <input type=hidden value="{{elems['ID']}}" name="id"/>
	      <button type="submit">Modificar</button>
	    </form>
	  </td>
	  <td>
	    <form action="{{url_for('main.servicios_handler')}}" method="GET">
	      <input type=hidden value="_DELETE" name="_method"/>
	      <input type=hidden value="{{elems['ID']}}" name="id"/>
	      <button type="submit">Eliminar</button>
	    </form>
	  </td>
	</tr>
{%endfor%}
</tbody>
</table>
{% endblock %}
