{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Panel de Usuarios
</h1>
<form method="GET" action="{{url_for('main.user_handler')}}">
 	<input type="submit" value="Nuevo Usuario" name="nusuario"/>
</form>
<table>
<tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha de Pago</th>
    <th>Direccion</th>
  </tr>
{% for elems in usuarios %}
	<tr>
	  <td>{{elems['Nombre']}}</td>
	  <td>{{elems['Apellido']}}</td>
	  <td>{{elems['FechaPago']}}</td>
	  <td>{{elems['Direccion']}}</td>
	  <td>
	    <form action="{{url_for('main.facturas_handler')}}" method="GET">
	      <input type=hidden value="{{elems['ID']}}" name="id"/>
	      <button type="submit">Credito</button>
	    </form>
	  </td>
	  <td>
	    <form action="{{url_for('main.user_handler')}}" method="GET">
	      <input type=hidden value="_UPDATE" name="_method"/>
	      <input type=hidden value="{{elems['ID']}}" name="id"/>
	      <button type="submit">Modificar</button>
	    </form>
	  </td>
	  <td>
	    <form action="{{url_for('main.user_handler')}}" method="GET">
	      <input type=hidden value="_DELETE" name="_method"/>
	      <input type=hidden value="{{elems['ID']}}" name="id"/>
	      <button type="submit">Eliminar</button>
	    </form>
	  </td>
	</tr>
{%endfor%}
</table>
{% endblock %}
